<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form's client</title>
</head>
<body>
<h2>Form's client</h2>
<form th:action="@{/clients/save}" th:object="${client}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Surname:</label>
    <input type="text" th:field="*{userName}" />
    <div style="color: red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Error</div>

    <label>Lastname:</label>
    <input type="text" th:field="*{lastName}" />
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</div>

    <label>Email:</label>
    <input type="email" th:field="*{email}" />
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>

    <label>Age:</label>
    <input type="number" th:field="*{age}" />
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</div>

    <label>Password:</label>
    <input type="password" th:field="*{password}" />
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>

    <button type="submit">Save</button>
</form>
</body>
</html>